## Exámen Teórico

Describe con tus propias palabras los 4 paradigmas(programación orientada a objetos, programación imperativa, programación funcional y programación lógica) de programación.

Da una tabla de las 5 principales estructuras de datos con ventajas y desventajas

Describe con tus propias palabras que es una Clase, Herencia, polimorfismo, sobre escritura, visibilidad,

Haz una explicación y comparación entre Numpy, Pandas y el Build(funciones base de Python)

## Exámen Práctico

## Ejercicio estructuras básicas Python

Realizar un programa en python que reciba por terminal la información de 20 alumnos(nombre, número de cuenta, sexo, 5 calificaciones de Matemáticas, Biología, Física, Química y Programación) que realice la el promedio de todos los Alumons por cada materia, elpromedio General de todas las materias, el mínimo y máximo de calificaciones.

## Ejercicio Orientado a Objetos 

Crea una clase Alumno que modelo el problema anterior con todos los atributos y métodos. Además una Clase Materia que modele cada materia que hay y tenga como atributos los alumnos y pueda calcular el promedio de la materia.

## Ejercicios usando Numpy

Cambiar la siguiente función a Array de Numpy y comparar ambos algoritmos con %timeit min_sort(big_array)
%timeit min_sort_numpy(big_array)

In [ ]:
def min_lista(lista):
    minimo = min(lista)
    lista.remove(minimo)
    return minimo, lista

def min_sort(lista, lista_ordeada=[]):
    if len(lista)==0:
        return lista_ordeada
    else:
        minimo, sublista = min_lista(lista)
        lista_ordeada.append(minimo)
        return min_sort(sublista, lista_ordeada)

min_sort([1,0,4,2,-1])

## Ejercicio usando Pandas

In [13]:
import pandas as pd
import io
import requests

In [14]:
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s = requests.get(url).content
data = pd.read_csv(io.StringIO(s.decode('utf-8')))
data

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

Con los datos anteriores agrupa los países por región contabiliza cuantos países hay en cada región y genera una gráfica histograma. Agrega una nueva columna con el método apply o vectorize de valores random enteros entre 1000,000 y 1,000,000 que se llame population que representa la población de cada país y genera una gráfica de pie por cada región que represente el tamaño de cada país.